*{
  margin:0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
:root{
  /* variables for the navbar*/
  --navbar: whitesmoke;
  --nav-active: rgb(216, 132, 160);
  --nav-hover:pink;
  --hamburger: rgb(196, 126, 218);
  --active-page: rgb(196, 126, 218);
  
  --background-color: #1c1d22;/* colors for the entire page*/
  --header-text:rgb(255, 255, 255);/* colors for the category titles*/
  --landing-text: whitesmoke;/* color for the TvLanding text*/
  --landing-box: #33333388;
  
  /*colors for the popup box*/
  --popup-color: #1c1d22;
  --popup-text: whitesmoke;
  --popup-x: red;
}

body{
  background-color: var(--background-color);
}
/* create giant square size of screen to create a blur effect!*/
.backdrop-blur {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.4);
  z-index: 900; 
}

/*--------------- MOBILE NAVBAR FORMATTING ------------------------------*/
/* FOR THE NAVBAR!! */
.nav-mobile{
  margin-top: 10px;
  display:flex;
  align-items:flex-end;
  justify-content:center;
  flex-direction:row;
  /* background-image:url('https://www.shutterstock.com/image-vector/retro-vaporwave-desktop-wallpaper-template-600nw-2140596103.jpg'); */
  background-image:url('https://www.shutterstock.com/shutterstock/videos/3748611245/thumb/1.jpg?ip=x480');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 260px;
}
.nav-options{
  display:flex;
  align-items:center;
  justify-content:center; 
  width: 100%;
  position: absolute;
  top: 270px;
  left: 0px;
  z-index: 100;
  padding: 6px;
  background-color: var(--navbar);
  height:auto;
}
.nav-options ul{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  list-style:none;
}
.nav-options li{
  cursor:pointer;
  padding: 10px;
  gap: 4rem;
  text-align:center;
  width: 50%;
}
.nav-options li a{
  color: #333;
  text-decoration:none;
  font-size: 20px;
}
.nav-options li:hover{
  transition: 0.4s ease-in;
}
.nav-options li a:hover{
  color: var(--nav-active);
}
.nav-options li .active{
  color: var(--nav-hover);
}

.nav-button{
  width: 30%;
  position: absolute;
  top: 34px;
  right: 10px;
  z-index: 100;
  height: 100px;
}
.hamburger{
  width: 100%;
  background:none;
  border:none;
  color:  var(--hamburger);
  font-size: 38px;
}
.hamburger:hover{
  transition: 0.6s ease-in;
  background-color: transparent;
  color: var(--nav-hover);
}
.active-page {
  display:flex;
  align-items: center;
  justify-content:center;
  position:relative;
  top: 0px;
  width: 100%;
  color:whitesmoke;
  text-align: center;
  padding: 8px 0;
  font-size: 24px;
  height: 50px;
  background-color: var(--active-page);
}


/*---------------------------- Formatting for Content Rows (Horizontal Scroll) ----------------------------*/
/* holds title and media-row*/
.media-row-container{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position:relative;
  left: 5%;
  width: 95%;
  padding: 6px;
  margin: 10px;
}
/* header for each row*/
.media-row-header{
  padding: 3px;
}
/* header font styling*/
.media-row-header h3{
  font-size: 35px;
  margin:3px;
  color: var(--header-text);
}


/* holds all the podcasts, is scrollable*/
.media-row {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  padding: 8px;
  /* for the scroll itself: */
  overflow-x: auto;
  cursor:grab;
  /* prevents from selecting any text on grab*/
  user-select: none; 
}

/* Grab cursor when dragging */
.media-row:active {
  cursor: grabbing;
}

/* formatting to scroll menu container */
.react-horizontal-scrolling-menu--scroll-container {
  display: flex;
  gap: 1rem;
}

/*----------------------------Scrollbar Formatting----------------------------*/
.media-row::-webkit-scrollbar {
  display: none;
}
.media-row {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}
.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*----------------------------NavBar Formatting----------------------------*/

.nav{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  color:var(--header-text);
  height: 80px;
}
/* styling for unordered list element */
.nav ul{
  padding: 5px;
  margin:0;
  list-style:none;
  display:flex;
  gap: 2rem;
}
/* styling for the active page on navbar*/
.nav .active{
  color: var(--nav-active);
}
/* styling for hover on a navbar link*/
.nav li:hover{
  text-decoration: underline 2px solid var(--nav-hover);
  text-underline-offset: 3px;
}
.nav a ion-icon{
  margin-left: 5px;
}

/* styling for navbar links*/
.nav a{
  color:inherit;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;
}

/* styling for navbar logo*/
.nav img{
  width: 100px;
  height: 70px;
}
/*----------------------------NavBar Dropdown Formatting----------------------------*/
/* Container for dropdown */
.nav .dropdown {
  position: relative;
}

/* li elements in nav that have dropdowns (Podcast/TV links) */
.nav .dropdown > span {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

/* Dropdown menu hidden by default */
.nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--main-color);
  border: 1px solid var(--second-color);
  padding: 0.5rem 0;
  min-width: 150px;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
  background:  var(--background-color);
}
/* Each link inside dropdown */
.nav .dropdown-menu li {
  padding: 0 1rem;
  white-space: nowrap;
}

/* Show dropdown on hover */
.nav .dropdown:hover .dropdown-menu {
  display: flex;
}

.nav #extras .dropdown-menu {
  left: auto;
  right: 0;
}

/*----------------------------NavBar Category Submenu Formatting----------------------------*/
/* the Podcast/TV Category link --> has sublinks (set to relative for positioning other submenu) */
.dropdown-submenu, .dropdown-submenu2 {
  position: relative;
}

/*position the ul for the submenu*/
.dropdown-submenu-menu, .dropdown-submenu2-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background:  var(--background-color);
  min-width: 150px; 
}


/* Hide submenu2 by default (Japanese, Korean, Thai, Mandarin options in International) */
li.dropdown-submenu2 > ul.dropdown-submenu2-menu {
  display: none;
}

/* Show submenu2 only when hovering "International" */
li.dropdown-submenu2:hover > ul.dropdown-submenu2-menu {
  display: block;
}


/*hide the menu options unless hovered*/
li.dropdown-submenu > ul.dropdown-submenu-menu, ul.dropdown-submenu2-menu {
  display: none;
}

li.dropdown-submenu:hover > ul.dropdown-submenu-menu, li.dropdown-submenu-menu:hover > ul.dropdown-submenu2-menu {
  display: block;
}


/*----------------------------Podcast Formatting----------------------------*/
/* for all podcasts- current, in queue, and completed*/
.podcasts-container{
  width: 100%;
  position:absolute;
}
/* holds the image for the podcast*/
.podcast-container{
  margin: 0px 20px;
}

/*will be to allow for click on podcast and tv for additional info*/
.podcast-container:hover, .tv-container:hover{
  cursor:pointer;
}

/* sizing for the podcast images themselves*/
.podcast-container img{
  width: 200px;
  height: 300px;
}


/*----------------------------TV Landing Formatting----------------------------*/
/* entire featured tv show container- holds the background image*/
.tv-landing-container{
  height: 500px;
  display:flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: cover;
  background-position:  center top;
  position:relative;
  width: 91%;
  left: 6%;
  margin-top:15px;
  color:var(--header-text);
}
#international, #docs, #jdramas, #anime, #animated-adult, #childhood{
  margin-top: 80px;
}

.selection-option{
  color: var(--header-text);
}

/* holds the featured title and the episode information*/
.tv-content-main{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:relative;
  width: 33%;
  left: 20px;
  top: 0px;
  color:var(--landing-text);
  border-radius: 20px;
  padding: 6px;
}
/* holds tv's information- title, rating, desc, streaming, status*/
.tv-content{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: var(--landing-box);
}

/*title of tv show in tv landing*/
.tv-title{
  width:100%;
}
/*tv description text formatting*/
.tv-desc p{
  font-size: 16px;
  word-spacing: 0.1rem;
  margin: 10px 0px;
}
/* the bubbles that act as the navigation for the landing sections*/
.selection-menu{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}
/* each individual circle in the landing navigation*/
.selection-option {
  font-size: 24px;
  cursor:pointer;
  margin: 0px 5px;
}

/*----------------------------Formatting of TV/Anime/Movie Cover Photos (in MediaRow)----------------------------*/
.anime-movie-container, .tv-container{
  width: 150px;
  height: 100%;
  margin-right:14px;
}
.anime-movie-container img, .tv-container img{
  width:100%;
  height:100%;
}

/*----------------------------CLICKED BOX Formatting----------------------------*/
/* formatting for the pop up on click for Podcast, TVShow, AnimeMovie*/
.clicked-box{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: auto;
  min-height: 400px;
  background-color: var(--popup-color);
  position:fixed;
  z-index: 1000;
  left: 15%;
  top: 7%;
  padding: 8px;
}
/*format for content of the clicked box*/
.clicked-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 7px;
  text-align: center;
  color: var(--popup-text);
}
/* format for the div holding img inside the pop up*/
.clicked-img{
  width: 90%;
  height: 350px;
  margin-top: 10px;
}

.clicked-img img{
  width:100%;
  height: 340px;
}
/* div that holds podcast title or tv show title */
.clicked-title{
  margin-top: 15px;
}

/* div that holds the exit "button" for the popup */
.clicked-box-exit{
  position:absolute;
  right: 4%;
  top: 3%;
  cursor:pointer;
  color:var(--popup-x);
  font-size: 26px;
}
/* description of the podcast/tv show/movie */
.ep-desc{
  padding: 10px;
  width: 92%;
  position:relative;
  left:3%;
}
.ep-desc p {
  font-size: 15px;
}

/*----------------------------PODCAST Landing Formatting----------------------------*/
/* formatting for the podcast landing content- podcast img, title, hosts, description*/
.pod-landing-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position:relative;
  left: 0%;
  width: 95%;
  gap: 1.5rem;
  margin: 40px 0px 20px 0px;
  padding: 8px;
  background-color: #33333388;
  height: auto;
 
}
/* width of podcast img container*/
.pod-img{
  width: 50%;
}
/*formatting for podcast landing content main container*/
.pod-content-main{
  width: 40%;
  display:flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  color:var(--header-text);
  border-radius: 20px;
  padding: 6px;
  height:90%;
}
/* holds all the text information for podcast*/
.pod-content{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
/* containers that hold the podcast hosts and genres*/
.pod-hosts, .pod-genres{
  width:100%;
  margin-top: 10px;
}
/* format h4 elements for text in host and genres div*/
.pod-hosts h4, .pod-genres h4{
  font-weight: 500;
  font-size: 15px;
}

.pod-img img{
  width: 100%;
  height: 450px;
}
.pod-desc{
  margin: 12px 0px;
}
.pod-desc p{
  font-size:17px;
}

/*----------------------------Podcast Landing Formatting MOBILE----------------------------*/
.landing-buttons, .prev-button, .next-button{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}
/* container that holds all the nav buttons for podcast mobile*/
.landing-buttons{
  margin-bottom: 20px;
}
/* format for the button div's themselves */
.prev-button, .next-button, .home-button{
  margin: 0px 14px;
  cursor:pointer;
  color:var(--header-text);
}
/* spacing for the ion icons*/
.prev-button ion-icon,  .next-button ion-icon{
  margin: 0px 10px;
}
/* change size of home button since no text*/
.home-button ion-icon{
  font-size: 21px;
}


/*----------------------------MOBILE Formatting----------------------------*/
@media (max-width: 768px){
  .tv-content-main{
    width: 95%;
  }
  .clicked-box{
    width:90%;
    left: 4%;
    top: 20%;
  }
  .clicked-img{
    height: 250px;
  }
  .clicked-img img{
    width:100%;
    height: 100%;
  }
  .pod-landing-container{
    flex-direction: column;
    width: 100%;
    height:auto;
  }
  .podcast-container{
    width:100%;
    margin: 0px 5px;
  }
  .podcast-container img{
    width: 120px;
    height: 150px;
  }
  .tv-container img{
    width: 140px;
    height: 200px;
  }
  .pod-content-main{
    width:90%;
    text-align: center;
  }
  .pod-title h2{
    font-size: 20px;
  }
  .pod-img{
    width: 90%;
  }
  .pod-img img{
    height: 250px;
    width:100%;
  }
  .pod-desc p{
    font-size:14px;
  }
  .pod-genres, .pod-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .clicked-title h1{
    font-size: 25px;
  }
  .clicked-img{
    height:200px;
  }
  .clicked-box-exit{
    font-size: 20px;
  }
  .ep-desc p{
    font-size: 12px;
  }
  .tv-container{
    width: 150px;
    height: 100%;
    margin: 0px 6px;
  }
  .tv-container img{
    width:100%;
    height:100%;
  }
  .media-row{
    padding: 3px;
  }
  .media-row-header h3{
    font-size: 26px;
  }
  .tv-landing-container{
    height: 400px;
  }
  #international, #docs, #jdramas, #anime{
    margin-top: 100px;
  }
  
}
@media (max-width: 768px){
  .tv-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .tv-title{
    width:100%;
    text-align: center;
  }
  .tv-desc p{
    font-size: 11px;
  }
  .tv-genres h4, .tv-site h4{
    font-size: 13px;
  }
}
